# Ignore all logfiles and tempfiles.
.project
/*/.project

.classpath
/*/.classpath

.classpath
.settings
/*/.settings
/*/.settings/*

target
/*/target
/*/target/*

.DS_Store

.svn
.svn/*

.idea
.idea/*
*.iml
Thumbs.db

/bin
/target2

/target/
/.classpath
